---
import Section from "../Section.astro";
import {basics} from "@cv"
const {summary} = basics
---

<Section title="Acera de mi">
<p>
    {summary}
</p>
</Section>

<style>
    p{
        line-height: 1.2rem;
    }
</style>