---
import Section from "../Section.astro";
import {basics} from "@cv"
const {summary} = basics
---

<Section title="Acerca de mí">
<p>
    {summary}
</p>
</Section>

<style>
    p{
        line-height: 1.2rem;
        font-weight: 400;
        text-align: justify;
    }
</style>