---
import Section from "../Section.astro";
import {skills} from "@cv"
---

<Section title="Skills">
<ul>
    {
        skills.map(({name, level}) => (
            <li>
                <span>{name} /</span>
                <span>{level}</span>

            </li>
        ))
    }
</ul>
</Section>

<style>
    
    ul{
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
        
    }

    li{
        border-radius: 6px;
        background-color: #1b0088;
        color: white;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0.2rem 0.6rem;
    }
</style>